Source: kmre-extra-translate-es
Section: utils
Priority: optional
Maintainer: krafairus <krafairuspc@gmail.com>
Uploaders:
  krafairus <krafairuspc@gmail.com>
Build-Depends: debhelper , debhelper-compat (= 13)
Standards-Version: 4.5.0
Homepage: https://github.com/deepin-espanol/kmre-extra-translate-es

Package: kmre-extra-translate-es
Architecture: all
Depends: ${misc:Depends}, xdg-utils
Description: Additional Spanish translation package for kmre and its subset of programs.
